* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #777;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
a:link, a:active, a:visited {
  color: #777;
  text-decoration: none;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
header img{
    margin-left: -12px;
}

footer a:link, footer a:active, footer a:visited{
  text-decoration: underline;
  margin: 0 5px;
}
#cal {
    width: 370px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -15px rgba(0,0,0,0.21);
    border:1px solid #eee;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.group {
    width:295px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.group input{
  widows: 100%;
  height:40px;
  border-radius: 3px;
  border:1px solid #ddd;
  margin-top:10px;
  margin-bottom: 20px;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
button {
    background: #28508c;
    width:295px;
    height: 51px;
    color: #fff;
    border:none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-bottom: 6px;
}
